option_settings:
  aws:elasticbeanstalk:application:environment:
  	APP_NAME: "Laravel"
	APP_ENV: "local"
	APP_KEY: ""
	APP_DEBUG: "true"
	APP_URL: "http://127.0.0.1:8000"

	DB_CONNECTION: "mysql"
	DB_HOST: "host"
	DB_USERNAME: "user"
	DB_PASSWORD: "pass"
	DB_DATABASE: "db"

	CACHE_DRIVER: "redis"
	FILESYSTEM_DISK: "local"
	QUEUE_CONNECTION: "redis"
	SESSION_DRIVER: "file"
	SESSION_LIFETIME: "120"

	MEMCACHED_HOST: "127.0.0.1"

	REDIS_HOST: "redis_host"

	REDIS_PASSWORD: "null"
	REDIS_PORT: "6379"
	REDIS_QUEUE: "default"
	REDIS_PREFIX: "{Laravel}"

	MAIL_MAILER: "smtp"
	MAIL_HOST: "host"
	MAIL_PORT: "587"
	mail_username: "user"
	MAIL_PASSWORD: "pass" 
	MAIL_ENCRYPTION: tls
	MAIL_FROM_NAME: "${APP_NAME}"

	OTP_EXPIRY_DURATION: "60"
	OTP_RETRIES: "3"
	OTP_RETRY_DURATION: "300"

	AWS_ACCESS_KEY_ID: ""
	AWS_SECRET_ACCESS_KEY: ""
	AWS_DEFAULT_REGION: "us-east-1"
	AWS_BUCKET: ""
	AWS_USE_PATH_STYLE_ENDPOINT: "false"

	FIREBASE_PROJECT: ""
	FIREBASE_CREDENTIALS: "firebase_credentials.json"
	FIREBASE_STORAGE_DEFAULT_BUCKET: ""

	ADMIN_FCM_TOPIC: 'admin-notification'

	STRIPE_SECRET: ""
	STRIPE_WEBHOOK_SECRET: ""
	STRIPE_APPLICATION_FEE: "0.1"
	STRIPE_REFRESH_URL: "https://example.com/refresh"
	STRIPE_RETURN_URL: "https://example.com/return"

files:
  "/etc/cron.d/laravel-schedule":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root cd /var/app/current && php artisan schedule:run >> /dev/null 2>&1

container_commands:
  01_set_permissions:
    command: "chmod +x /etc/cron.d/laravel-schedule"