packages:
  yum:
    php-pear: []
    gcc: []
    gcc-c++: []
    make: []
    autoconf: []
    automake: []
    libtool: []
    protobuf: []

commands:
  01_install_epel:
    command: "rpm -Uvh https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"

  02_install_webtatic:
    command: "rpm -Uvh https://mirror.webtatic.com/yum/el7/webtatic-release.rpm"

  03_install_dependencies:
    command: "yum install -y php83-devel php-pear gcc zlib-devel"

  01_install_grpc:
    command: "pecl install grpc"
    ignoreErrors: false
    
  02_restart_php:
    command: "service php-fpm restart"
