packages:
  yum:
    php-pear: []
    gcc: []
    gcc-c++: []
    make: []
    autoconf: []
    automake: []
    libtool: []
    protobuf: []

commands:
  01_enable_php_extras:
    command: |
      amazon-linux-extras enable php8.3
      yum clean metadata

  02_install_php_and_dependencies:
    command: |
      yum install -y php-pear php-devel php-zip gcc zlib-devel make autoconf automake libtool protobuf
      nohup bash -c "pecl install grpc && echo 'extension=grpc.so' > /etc/php.d/20-grpc.ini" > /tmp/grpc_install.log 2>&1 &

  03_restart_php:
    command: "service php-fpm restart"
