packages:
  yum:
    php83-pecl-grpc: []  # Change this based on your PHP version
    php-pear: []
    php-devel: []
    gcc: []
    gcc-c++: []
    make: []
    autoconf: []
    automake: []
    libtool: []
    protobuf: []

commands:
  01_install_grpc:
    command: "pecl install grpc"
    ignoreErrors: false

container_commands:
  01_enable_grpc:
    command: "echo 'extension=grpc.so' > /etc/php.d/20-grpc.ini"
    
  02_restart_php:
    command: "service php-fpm restart"
