commands:
  01-permissions:
    command: "chmod -R 775 /var/www/storage /var/www/bootstrap/cache"
  02-roles:
    command: "chown -R www-data:www-data /var/www/storage /var/www/bootstrap/cache"
  03-migrations:
    command: "docker exec $(docker ps -q -f name=my_container) php artisan migrate --force"
  04-clear-compiled:
    command: "docker exec $(docker ps -q -f name=my_container) php artisan clear-compiled"
  05-clear-config:
    command: "docker exec $(docker ps -q -f name=my_container) php artisan config:clear"
  06-optimize:
    command: "docker exec $(docker ps -q -f name=my_container) php artisan optimize"
  07-generate-link:
    command: "docker exec $(docker ps -q -f name=my_container) php artisan storage:link"
